/*---Formulario de Seccion Contactos----*/



/*bem */


.contacto{
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(105, 176, 223);
    padding: 1rem;



  .contacto-form{
        padding: 2rem;
        max-width: 500px;
        line-height: 25px;
        margin: 0 auto;
    

    .contacto-form fieldset{
        padding: 1rem;


  
        
            .contacto-form__input, textarea{
                margin-bottom: 1rem;
                font-family: 'Roboto';
                padding: 0.5rem;
                border: none;
                color: rgb(83, 80, 80);
                font-size: 1rem;
                width: 100%;
                background-color: rgb(187, 189, 207) ;
              }
        
        
          }
        
    
    
      }
    


   
  }

   /*  ---------boton enviar-------- */
  .btnEnviar{
    width: 50%;
    background-color: #068ad6;
    border: 2px solid;
    border-color:#295875;
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.4rem;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    margin-left: 25%; 



    .btnEnviar:hover{
        background-color: #295875;
        border-color: white;
      }
                  
    
    /* */
  }
  
                    
 
  .input {
    width: 200px;
    transition: all 1s;
    
    }
    
    input:focus {
    background-color: rgb(144, 203, 207);
    }
    
    
    
    
    
  
  
    .maps

    {
      width: 200px;
      position: absolute;
      bottom: 3;
      animation-name: saltar;
      animation-duration: 2s;
      animation-fill-mode: initial;
    
    
      animation-timing-function: ease-in-out;
    
    }
    
    
    
    
    
    
    
    
    @keyframes mapa {
      0% {transform: translate(0);}
      100% {transform: translate(500px); width: 400px;}
    }
    /* BEM*/


    .logos-redes {
      padding: 2rem;
      list-style: none;
      text-decoration-color: seagreen;
      font-family: 'Roboto';
      background-image: url(img/cablered.jpg);
     font-size: xx-large;
     position: flex;
        }

        .logos-redes__iconos{ 
          background-color: antiquewhite;
          background-position: center;



        }