/*  ---------HEADER-------- */






 
.header-banner{

    background-image: url(img/robots1.jpg);
    
       }
    
    
       .logos {
        padding: 50px;
        list-style: none;
        text-decoration-color: seagreen;
        font-family: 'Roboto';
        background-image: url(img/cablered.jpg);
       font-size: xx-large;
       position: flex;
        
        }
    
         /* Estilos menu */
    
    
    
    
         .header__navbar--principal li:hover{
    
    
          background: linear-gradient( to right,rgba(110, 110, 104, 0.849), rgb(222, 223, 172),white);
          transition: all .3s;
          padding: 50px;
          background-position:  50  3px;
          
          
          
          
          }
          
    
    
    .nav-item li {
      background-color: rgb(36, 175, 218);
      display: inline-block;
      padding: 70px;
      list-style: none;
      cursor: pointer;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: bold;
      background: linear-gradient(#d1baa1, #abd8eb);
      background-position: center;
      background-repeat: repeat;
      transition: all 4s;
      animation: 2s infinite;
    
      
      
      
    
     
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .log{
      padding: 18px;
      color: rgb(21, 112, 56);
    background-color: rgb(190, 41, 183);
    font-family: 'Fredoka One', cursive;
    }

      
/*animaciones */   


.box {
    width: 150px;
    height: 150px;
    background-color: red;
    animation-name: girar;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-image: url(img/calavera.png);
    background-position: center;
    background-repeat: none;
  
    border-radius: 100px;
  
  }
  

  
  @keyframes girar {
    0%{transform: rotate(0deg); background-color: red;}
    50% {background-color: yellow;}
    100%{transform: rotate(360deg); background-color: blue;}
  }
  
  /*boostrap*/   



.container {

    display: flex;
    justify-content: space-around;
    
    
    
    }
    