header {
  background-color: bisque;
}

header p {
  background-color: orangered;
}

header a {
  -webkit-text-decoration: orangered;
          text-decoration: orangered;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 50px;
}

.menuSuperior {
  padding: 18px;
  list-style: none;
  display: inline-block;
  padding: 50px;
  list-style: none;
}

.menuSuperior a {
  text-decoration: none;
  color: #a84848;
}

body {
  font-family: 'Roboto';
  background-color: #4285F4;
  background-image: url(img/fondo.jpg);
}
.titulo {
  color: #4c43d4;
  font-size: 40px;
  padding: 26px;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  font-weight: bold;
  font-family: 'Roboto';
  background-image: url(img/robots1.jpg);
}

.titulo .subtitulo {
  background-color: blueviolet;
  color: #020005;
  background-image: url(img/textura.jpg);
  background-position: center;
  padding: 60px;
  -webkit-text-decoration: rosybrown;
          text-decoration: rosybrown;
  text-align: center;
  -webkit-text-size-adjust: 35px;
     -moz-text-size-adjust: 35px;
      -ms-text-size-adjust: 35px;
          text-size-adjust: 35px;
  border: 3px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box_uno {
  background-color: #4285F4;
  width: 360px;
  /* Ancho de 360*/
}

.box_dos {
  background-color: #33D374;
  width: 310px;
}

.texto {
  padding: 18px;
  color: #2C3E50;
  font-size: 8mm;
  font-family: ' Roboto';
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px;
  background-image: url(img/textura.jpg);
  -webkit-text-decoration: coral;
          text-decoration: coral;
  text-shadow: cornflowerblue;
}

.texto background {
  position: center;
  color: blanchedalmond;
}

/*bem */
.somos-texto {
  background-color: blueviolet;
  color: #020005;
  background-image: url(img/textura.jpg);
  background-position: center;
  padding: 60px;
  -webkit-text-decoration: rosybrown;
          text-decoration: rosybrown;
  text-align: center;
  -webkit-text-size-adjust: 35px;
     -moz-text-size-adjust: 35px;
      -ms-text-size-adjust: 35px;
          text-size-adjust: 35px;
  border: 3px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.somos-texto__parrafo {
  padding: 18px;
  color: #413f3f;
  font-size: 8mm;
  font-family: ' Roboto';
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px;
}

/*---Formulario de Seccion Contactos----*/
/*bem */
.contacto {
  background-image: url(./img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #69b0df;
  padding: 1rem;
}

.contacto .contacto-form {
  padding: 2rem;
  max-width: 500px;
  line-height: 25px;
  margin: 0 auto;
}

.contacto .contacto-form .contacto-form fieldset {
  padding: 1rem;
}

.contacto .contacto-form .contacto-form fieldset .contacto-form__input, .contacto .contacto-form .contacto-form fieldset textarea {
  margin-bottom: 1rem;
  font-family: 'Roboto';
  padding: 0.5rem;
  border: none;
  color: #535050;
  font-size: 1rem;
  width: 100%;
  background-color: #bbbdcf;
}

/*  ---------boton enviar-------- */
.btnEnviar {
  width: 50%;
  background-color: #068ad6;
  border: 2px solid;
  border-color: #295875;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.4rem;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  margin-left: 25%;
  /* */
}

.btnEnviar .btnEnviar:hover {
  background-color: #295875;
  border-color: white;
}

.input {
  width: 200px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

input:focus {
  background-color: #90cbcf;
}

.maps {
  width: 200px;
  position: absolute;
  bottom: 3;
  -webkit-animation-name: saltar;
          animation-name: saltar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes mapa {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(500px);
            transform: translate(500px);
    width: 400px;
  }
}

@keyframes mapa {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(500px);
            transform: translate(500px);
    width: 400px;
  }
}

/* BEM*/
.logos-redes {
  padding: 2rem;
  list-style: none;
  -webkit-text-decoration-color: seagreen;
          text-decoration-color: seagreen;
  font-family: 'Roboto';
  background-image: url(img/cablered.jpg);
  font-size: xx-large;
  position: flex;
}

.logos-redes__iconos {
  background-color: antiquewhite;
  background-position: center;
}

/*  ---------HEADER-------- */
.header-banner {
  background-image: url(img/robots1.jpg);
}

.logos {
  padding: 50px;
  list-style: none;
  -webkit-text-decoration-color: seagreen;
          text-decoration-color: seagreen;
  font-family: 'Roboto';
  background-image: url(img/cablered.jpg);
  font-size: xx-large;
  position: flex;
}

/* Estilos menu */
.header__navbar--principal li:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(110, 110, 104, 0.849)), color-stop(#dedfac), to(white));
  background: linear-gradient(to right, rgba(110, 110, 104, 0.849), #dedfac, white);
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 50px;
  background-position: 50  3px;
}

.nav-item li {
  background-color: #24afda;
  display: inline-block;
  padding: 70px;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#d1baa1), to(#abd8eb));
  background: linear-gradient(#d1baa1, #abd8eb);
  background-position: center;
  background-repeat: repeat;
  -webkit-transition: all 4s;
  transition: all 4s;
  -webkit-animation: 2s infinite;
          animation: 2s infinite;
}

.log {
  padding: 18px;
  color: #157038;
  background-color: #be29b7;
  font-family: 'Fredoka One', cursive;
}

/*animaciones */
.box {
  width: 150px;
  height: 150px;
  background-color: red;
  -webkit-animation-name: girar;
          animation-name: girar;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-image: url(img/calavera.png);
  background-position: center;
  background-repeat: none;
  border-radius: 100px;
}

@-webkit-keyframes girar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background-color: blue;
  }
}

@keyframes girar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background-color: blue;
  }
}

/*boostrap*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*bem */
.flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #381e0b;
  background-color: #555757;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(img/robots1.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.flex-container__div {
  background-color: cornflowerblue;
  margin: 30px;
  width: 200px;
  font: 10px;
  border: 3px solid black;
}

/*grids */
.grid-container {
  display: -ms-grid;
  display: grid;
  background-color: blueviolet;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(img/tubos.jpg);
  background-position: center;
}

.grid-container div {
  color: #112b80;
  text-align: center;
  border: 3px solid black;
  background-image: url(img/menus.jpg);
}
/*# sourceMappingURL=style.css.map */