
 
  



   .texto{
    padding: 18px;
 
   color: $grey;
   font-size: 8mm;
   font-family:' Roboto';
   
 
   display: flex;
   justify-content:space-around;
  
 background-image: url(img/textura.jpg);

   background{
    position: absolute;
    
    color:grey;

    
    }
    
text-decoration: coral;
text-shadow: cornflowerblue;



   }
/*bem */
.somos-texto{


   
   margin-right: 30px;
  background-color: white;
  color: rgb(2, 0, 5);
  background-image: url(img/textura.jpg);
  background-position: center;
  padding: 60px;
 text-decoration: grey;
  text-align: center;
  text-size-adjust: 35px;
  border: 3px solid black;

  
 

 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;


}



  
   .somos-texto__parrafo{
    padding: 18px;
 background-image: url(./img/machine.jpg);
   color: rgb(65, 63, 63);
   font-size: 8mm;
   font-family:' Roboto';
   
   border-radius: 60px;
   display: flex;
   justify-content:space-around;
   margin: 30px;


    }

