

$ancho: 720px;

$blue: #4285F4;

$grey:#2C3E50;

$black: #000000;

$red: #d33333;







@import "menu";


@import "body";

@import "titulo";




@import "texto";

@import "contacto";


@import "header";


@import "flex_grid";


